<div class="alert alert-success">
    <h1>Assignment 1</h1>
    <h3>All interesting Python List function</h3>
</div>

- list().clear()
- list().copy()
- list().append()
- list().insert()
- list().extend()
- list().pop()
- list().remove()
- list().index()
- list().count()
- list().reverse()
- list().sort()

#### list().clear() Remove all items from list.

In [17]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
b.clear()
b

[]

#### list().copy()  Return a shallow copy of the list.

In [27]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
a=b.copy()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

#### list().append()  Append object to the end of the list.

In [31]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
a=[1, 2, 3, 4, 5]
b.append(a)
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, [1, 2, 3, 4, 5]]

In [36]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
b.append({'g':1})
b.append('l')
b.append(100)
b.append((2,5))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, {'g': 1}, 'l', 100, (2, 5)]

#### list().insert()  Insert object before index.

In [47]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
a=[100,200,300]
b.insert(0,a)
b.insert(1,'apple')
b

[[100, 200, 300], 'apple', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

#### list().extend() Extend list by appending elements from the iterable.

In [49]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
a=[1, 2, 3, 4, 5]
b.extend(a)
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5]

#### list().pop() Remove and return item at index (default last).

In [51]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
b.pop()

13

In [52]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [53]:
b.pop(0)

1

In [54]:
b

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

#### list().remove()  Remove first occurrence of value.

In [55]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
b.remove(11)
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13]

In [56]:
b = [1, 2, 3, 4, 1, 2, 3, 4]
b.remove(4)
b
#Remove first occurrence of value.

[1, 2, 3, 1, 2, 3, 4]

#### list().index()  Return first index of value.

In [59]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
b.index(13)

12

#### list().count()  Return number of occurrences of value.

In [65]:
b = [1, 2, 5, 4, 5, 5, 5, 3]
b.count(5)

4

#### list().reverse() Reverse *IN PLACE*

In [75]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
b.reverse()
b

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### list().sort()  Sort the list in ascending order and return None.

In [84]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
a = b.sort(reverse = True)
print(a)

None

In [86]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
b.sort(reverse = True)
print(b)

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<div class="alert alert-success">
    <h1>Assignment 2</h1>
    <h3>All interesting Python Dict function</h3>
</div>

- dict().pop()
- dict().get()
- dict().setdefault()
- dict().popitem()
- dict().keys()
- dict().items()
- dict().values()
- dict().update()
- dict().clear()
- dict().copy()

#### dict().pop() remove specified key and return the corresponding value.

In [1]:
x = {'a':10,'b':20,'c':30}

x.pop('b')
x

{'a': 10, 'c': 30}

In [8]:
x = {'a':10,'b':20,'c':30}
a=x.items()
print(a)
print(type(a))

b = list(a)
print(b)
print(type(b))

b.pop(1)
print(b)

dict_items([('a', 10), ('b', 20), ('c', 30)])
<class 'dict_items'>
[('a', 10), ('b', 20), ('c', 30)]
<class 'list'>
[('a', 10), ('c', 30)]

#### dict().get() Return the value for key if key is in the dictionary, else default.

In [18]:
x = {'a':10,'b':20,'c':30}

print(x.get('b'))

20

#### dict().setdefault()  
Insert key with a value of default if key is not in the dictionary.
    
Return the value for key if key is in the dictionary, else default.

In [25]:
x = {'a':10,'b':20,'c':30}
print(x.setdefault('a',100))
print(x.setdefault('d',100))

10
100

#### dict().popitem() Remove and return a (key, value) pair as a 2-tuple.

In [26]:
x = {'a':10,'b':20,'c':30}
x.popitem()

('c', 30)

##### dict().keys() D.keys() -> a set-like object providing a view on D's keys

In [27]:
x = {'a':10,'b':20,'c':30}
x.keys()

dict_keys(['a', 'b', 'c'])

#### dict().values() D.values() -> an object providing a view on D's values

In [31]:
x = {'a':10,'b':20,'c':30}
x.values()

dict_values([10, 20, 30])

#### dict().items() D.items() -> a set-like object providing a view on D's items

In [32]:
x = {'a':10,'b':20,'c':30}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

#### dict().update()   
- The update() method takes either a dictionary or an iterable object of key/value pairs (generally tuples).

If update() is called without passing parameters, the dictionary remains unchanged.

In [37]:
x = {'a':10,'b':20,'c':30}
y = {'d':40, 'e':50,'f':60}

x.update(y)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

#### dict().clear()  D.clear() -> None.  Remove all items from D.

In [38]:
x = {'a':10,'b':20,'c':30}
x.clear()
x

{}

#### dict().copy()  D.copy() -> a shallow copy of D

In [42]:
x = {'a':10,'b':20,'c':30}
x_copy = x.copy()
print('x : ',x)
print('x_copy : ',x_copy)

x :  {'a': 10, 'b': 20, 'c': 30}
x_copy :  {'a': 10, 'b': 20, 'c': 30}

#### tuple().index() 
index(self, value, start=0, stop=9223372036854775807, /)
Return first index of value.

In [52]:
a = ('a',1,5.5,(2,4))
a.index((2,4))

3

#### tuple().count() Return number of occurrences of value.

In [53]:
a = ('a',1,5.5,(2,4),5.5,0,2)
a.index(5.5)

2

<div class="alert alert-success">
    <h1>Assignment 4</h1>
    <h3>All interesting Python set function</h3>
</div>

- set().pop()
- set().add()
- set().clear()
- set().copy()
- set().discard()
- set().difference()
- set().difference_update()
- set().intersection()
- set().intersection_update()
- set().isdisjoint()
- set().issubset()
- set().issuperset()
- set().remove()
- set().symmetric_difference()
- set().symmetric_difference_update()
- set().union()
- set().update()

#### set().pop() 
- Remove and return an arbitrary set element.
- Raises KeyError if the set is empty.

In [68]:
w={'a','b','c',1,2,3}
print(w)
print(w.pop())

{1, 2, 3, 'c', 'b', 'a'}
1

In [85]:
c={}
print(c.pop())

TypeError: pop expected at least 1 argument, got 0

#### set().add()
- Add an element to a set.
- This has no effect if the element is already present.

In [87]:
set_1={'a','b','c',1,2,3}
set_1.add(5)
set_1

{1, 2, 3, 5, 'a', 'b', 'c'}

#### set().clear() Remove all elements from this set.`

In [88]:
set_1={'a','b','c',1,2,3}
set_1.clear()
set_1

set()

#### set().copy()  Return a shallow copy of a set.

In [89]:
set_1={'a','b','c',1,2,3}
new_set = set_1.copy()
print(set_1)
print(new_set)

{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'a', 'c', 'b'}

#### set().discard()
- Remove an element from a set if it is a member.
- If the element is not a member, do nothing.

In [95]:
set_1={'a','b','c',1,2,3}
set_1.discard(2)
print(set_1)
set_1.discard(5)
print(set_1)

{1, 3, 'c', 'b', 'a'}
{1, 3, 'c', 'b', 'a'}

#### set().difference() 
- Return the difference of two or more sets as a new set.
- (i.e. all elements that are in this set but not the others.)

In [109]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
new_set = set_1.difference(set_2)
print(new_set)
print(set_1)

{'c', 'a', 'b'}
{1, 2, 3, 'c', 'b', 'a'}

#### set().difference_update() Remove all elements of another set from this set.

In [148]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
new_set=set_1.difference_update(set_2)
print(new_set)
print(set_1)

None
{'c', 'b', 'a'}

#### set().symmetric_difference() Return the symmetric difference of two sets as a new set.

In [149]:
set_1={'a','b','c',4,5,6,1,2,3,'d','e','f'}
set_2={1,2,3}
new_set = set_1.symmetric_difference(set_2)
print(new_set)
print(set_1)
print(set_2)

{4, 5, 6, 'c', 'b', 'a', 'e', 'd', 'f'}
{1, 2, 3, 4, 5, 6, 'c', 'b', 'a', 'e', 'd', 'f'}
{1, 2, 3}

#### set().intersection()
- Return the intersection of two sets as a new set.
- (i.e. all elements that are in both sets.)

In [118]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
a = set_1.intersection(set_2)
print(a)
print(set_1)
print(set_2)

{1, 2, 3}
{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3}

#### set().intersection_update() Update a set with the intersection of itself and another.

In [117]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
a = set_1.intersection_update(set_2)
print(a)
print(set_1)
print(set_2)

None
{1, 2, 3}
{1, 2, 3}

#### set().union()
- Return the union of sets as a new set.
- (i.e. all elements that are in either set.)

In [152]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
a=set_1.union(set_2)
print(a)
print(set_1)
print(set_2)

{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3}

#### set().isdisjoint() Return True if two sets have a null intersection.

In [119]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
set_1.isdisjoint(set_2)

False

In [120]:
set_1={'a','b','c',1,2,3}
set_2={7,8,9}
set_1.isdisjoint(set_2)

True

#### set().issubset() Report whether another set contains this set.

In [128]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
set_1.issubset(set_2)

False

In [127]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
set_2.issubset(set_1)

True

#### set().issuperset()  Report whether this set contains another set.

In [129]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
set_2.issuperset(set_1)

False

In [130]:
set_1={'a','b','c',1,2,3}
set_2={1,2,3}
set_1.issuperset(set_2)

True

#### set().remove() Remove an element from a set; it must be a member.

In [132]:
set_1={'a','b','c',1,2,3}
set_1.remove('b')
set_1

{1, 2, 3, 'a', 'c'}

#### set().update() Update a set with the union of itself and others.

In [157]:
set_1={'a','b','c',1,2,3}
set_2={4,5,6}
set_1.update('d')
print(set_1)
set_2.update('7')
print(set_2)

{1, 2, 3, 'c', 'b', 'a', 'd'}
{'7', 4, 5, 6}

In [25]:
set().__dir__()

['__repr__',
 '__hash__',
 '__getattribute__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__iter__',
 '__init__',
 '__sub__',
 '__rsub__',
 '__and__',
 '__rand__',
 '__xor__',
 '__rxor__',
 '__or__',
 '__ror__',
 '__isub__',
 '__iand__',
 '__ixor__',
 '__ior__',
 '__len__',
 '__contains__',
 '__new__',
 'add',
 'clear',
 'copy',
 'discard',
 'difference',
 'difference_update',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 '__reduce__',
 'remove',
 '__sizeof__',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update',
 '__doc__',
 '__str__',
 '__setattr__',
 '__delattr__',
 '__reduce_ex__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__dir__',
 '__class__']

#### List Overlap   

Take two lists, say for example these two:

	a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
	b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes.

In [97]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

c=[]
for i in a and b:
    if i in a and i in b:
        c.append(i)
print(c)

[1, 2, 3, 5, 8, 13]

#### List Comprehensions

Letâ€™s say I give you a list saved in a variable: 

	a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]. 
    
Write one line of Python that takes this list a and makes a new list that has only the even elements of this list in it.

In [101]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

print([i for i in a if i%2==0])

[4, 16, 36, 64, 100]

#### List Overlap Comprehensions 

Take two lists, say for example these two:

	a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
	b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes. Write this using at least one list comprehension. 

Extra:

Randomly generate two lists to test this

In [357]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

print([i for i in a and b if i in a and b])

[1, 2, 3, 5, 8, 13]

In [379]:
import random
a=[]
b=[]


list_1=list(range(11))
list_2=list(range(14))
for i in list_1:
    x=random.randint(1,20)
    a.append(x)
    
    

for j in list_2:
    y=random.randint(1,30)
    b.append(y)
    
print('a : ',a )
print('b : ',b)


print('new_list : ', [x for x in a and b if x in a and b])

a :  [7, 5, 11, 16, 3, 10, 9, 18, 11, 19, 14]
b :  [7, 19, 21, 7, 15, 14, 29, 14, 13, 27, 20, 27, 2, 9]
new_list :  [7, 19, 7, 14, 14, 9]

#### List Ends Solutions

Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and makes a new list of only the first and last elements of the given list. For practice, write this code inside a function.

In [11]:
a = [5, 10, 15, 20, 25]

for i in a:
    b=a[0::4]
    
    
print(b)

[5, 25]

In [18]:
a_lst = [5, 10, 15, 20, 25]
def slicing():
    for x in a_lst:
        y=a[0::4]
    return y

slicing()

[5, 25]

#### List Remove Duplicates Solutions

Write a program (function!) that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

Extras:

 - Write two different functions to do this - one using a loop and constructing a list, and another using sets.
 - Go back and do Exercise 5 using sets, and write the solution for that in a different function.

In [35]:
# removing duplicates using set

def list_1():
    a = list(set(b))
    return a


b=[1,5,9,9,5,1,2,3,2]
list_1()

[1, 2, 3, 5, 9]

In [43]:
# removing duplicates using loop

def remove_duplicates(x):
    final_list = []
    for num in x:
        if num not in final_list:
            final_list.append(num)
    return final_list

x=[1,5,9,9,5,1,2,3,2]
print(remove_duplicates(num))

[1, 5, 9, 2, 3]

#### calculating min from given list without using predefined functions

In [80]:
def min_value():
    minimum_value = given_list[0]
    for i in given_list:
        if i < minimum_value:
            minimum_value = i
    print('minimum_value : ',minimum_value)
    
given_list = [9, 16, 100, 25, 3, 36, 49, 4, 81, 64]
min_value()

minimum_value :  3

#### without zip

In [ ]:
def min_value():
    a = sorted(given_list)
    minimum_value = a[0]
    print(minimum_value)

given_list = [9, 16, 100, 25, 3, 36, 49, 4, 81, 64]
min_value()